@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default_BG */
    /* **************************************************** */
    --default-bg-900: 250, 250, 250; /* #f0f0f0 */
    --default-bg-800: 250, 250, 250; /* #dcdcdc */
    --default-bg-black: 250, 250, 250; /* #ffffff */
    /* **************************************************** */

    /* PRIMARY */
    /* **************************************************** */
    /* Background Colors */
    --primary-color: 23, 23, 23;
    --primary-hover-color: 25, 130, 35;

    /* Text Colors */
    --primary-foreground: 255, 255, 255;
    --primary-hover-foreground: 255, 255, 255;
    /* **************************************************** */

    /* NAV_LINK */
    /* **************************************************** */
    --selected-nav-link-bg: 30, 160, 40;
    --selected-nav-link-text: 241, 245, 249;
    /* **************************************************** */
  }

  .dark {
    /* Default_BG */
    /* **************************************************** */
    --default-bg-900: 47, 47, 47; /* #111111 */
    --default-bg-800: 54, 54, 54; /* #222222 */
    --default-bg-black: 46, 46, 46; /* #101010 */
    /* **************************************************** */

    /* PRIMARY */
    /* **************************************************** */
    /* Background Colors */
    --primary-color: 23, 23, 23;
    --primary-hover-color: 25, 130, 35;

    /* Text Colors */
    --primary-foreground: 241, 245, 249;
    --primary-hover-foreground: 255, 255, 255;
    /* **************************************************** */

    /* NAV_LINK */
    /* **************************************************** */
    --selected-nav-link-bg: 30, 160, 40;
    --selected-nav-link-text: 241, 245, 249;
    /* **************************************************** */
  }
}
